---
interface Props {
  titulo: string;
  descripcion: string;
  imagenSrc: string;
}

const { titulo, descripcion, imagenSrc} = Astro.props;
---

<section
  class="bg-secundary lg:py-12 lg:flex lg:justify-center"
>
  <div
    class="overflow-hidden bg-tertiary lg:mx-8 lg:flex lg:max-w-6xl lg:w-full lg:shadow-md lg:rounded-xl"
  >
    <div class="lg:w-1/2">
      <div
        class="h-64 bg-cover lg:h-full"
        style=`background-image:url(${imagenSrc})`
      >
      </div>
    </div>

    <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
      <h2
        class="text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl"
      >
        {titulo}
      </h2>

      <p class="mt-4 text-gray-500 dark:text-gray-300">
        {descripcion}
      </p>
    </div>
  </div>
</section>
